{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<div class="hero">
    <div class="hero-inner">
        <div>
            <header class="page-header">
            <h1>Hey there, I'm Katie!</h1>
            <p class="hero-content-block"> I'm a web content strategist and editor who is passionate about building user-friendly websites that drive powerful results.
                To learn more about my skills and experience, explore my portfolio.</p> 
             <a href="/portfolio">
             <button class="button-blue">View My Projects</button>
             </a>
            </header>
        </div>
    </div>    
</div>
<section class="col-section-padding">
    <div class="row-content-container">    
    <h2 class="column-block-30px">My Specialities</h2>
    </div>
<div class="flex-grid">
  <div class="col-centered"> 
    <div class="column-content-block-left">
        <h3>Content Strategy</h3>
        <img class="img-border responsive-column-img" src="static/assets/homepage/journey-map.PNG">
        <p class="column-img-subtitle">I have developed 100+ web content strategies based on market research, user testing and target audience insights.</p>
    </div>
  </div>
  <div class="col-centered">
    <div class="column-content-block" style="width:90%">
        <h3>Content Creation</h3>
        <img class="img-border responsive-column-img" src="static\assets\homepage\thrive-page2.PNG">
        <p class="column-img-subtitle">I have 6 years of copywriting experience and 2 years of front-end development experience. I know HTML, CSS and more!</p>
    </div>
  </div>
  <div class="col-centered">
      <div class="column-content-block-right">
        <h3>Website Editing</h3>
        <img class="img-border responsive-column-img" src="static/assets/homepage/whitworth-nav.PNG">
        <p class="column-img-subtitle">I have edited copy, page layouts and user experiences on 50+ websites to increase traffic, engagement and conversions. </p>
    </div>
    </div>
</section>
<section class="col-section-padding" style="background-color:#FFFFFF">
<div class="flex-grid">
  <div class="col-double">
  <h2>A Little About Me</h2>
            <p>My content marketing career truly began when I became a copywriter at StringCan Interactive, a strategic digital marketing agency. 
            It was here that I learned the importance of developing a data-driven strategy before you begin creating content. I witnessed firsthand 
            how strategic thinking leads to guaranteed results, and I have embraced a strategic mindset ever since.</p> 
            <p>After 3 years of working as a copywriter, editor and content marketer, I became a content strategist at V Digital Services. In this role, I regularly conducted competitor research, 
            keyword research and website audits to create web content strategies for 40+ clients. I also worked with freelance writers to execute each content strategy, with my main role being to edit their content for grammar, syntax and SEO.</p>
            <p>A couple years later, I was given the opportunity to work at GoDaddy as a Marketing Operations Technologist. This new position empowered me to gain the techinical skills required to execute more complex website strategies. 
            In my current role, I build new pages and modules, implement user tests and personalized content, and troubleshoot bugs on GoDaddy.com. </p>
            <p style="margin-bottom:0">Over time, I hope to strengthen my front-end web development and technical skills while always maintaining my user research and content strategy skills. As a result, I will be capable of managing and optimizing the full website experience.</p>
         
  </div>
<div class="col" style="margin:auto;text-align:center;"> 
    <div class="column-content">
  <img class="img-border" src="static/assets/homepage/katie-me.PNG">
  </div>
</div>
</section>
<section class="banner">
    <h1 class="banner-text">Curious about my work experience?</h1>
    <a href="/resume"><button>View My Resume</button></a> 
</section>
{% endblock %}