{% extends "index.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %} 
<section class="hero">
    <div class="hero-inner">
        <div>
            <header>
            <h1 class="page-header">My Projects</h1>
            </header>
        </div>
    </div>    
</section>
<section class="portfolio-flexbox">
      <div class="project">
            <a href="/recruiting-content-strategy">
            <div class="project-card"> 
                  <div class="preview">
                        <img class="preview-image" src="static/assets/portfolio-page/recruiting-challenges-project-preview.PNG" alt="project img">
                        <div class="overlay">
                              <div class="text">See More</div>
                        </div>
                  </div>
                  <div>     
                        <h3 class="project-name">Recruiting.com</h3>
                        <h4 class="project-skills">Content Strategy, Copywriting</h4>
                  </div>
            </div>
            </a>       
      </div>
      <div class="project">
            <a href="/module-prototype">
            <div class="project-card"> 
                  <div class="preview">
                        <img class="preview-image" src="static/assets/portfolio-page/flexbox-portfolio-preview2.PNG" alt="project img">
                        <div class="overlay">
                              <div class="text">See More</div>
                        </div>    
                  </div> 
                  <div>
                        <h3 class="project-name">GoDaddy</h3>
                        <h4 class="project-skills">Prototyping, Front-End Development</h4>
                  </div>
            </div>
            </a> 
      </div>
      <div class="project">
            <a href="/valley-chevy-content-strategy">
            <div class="project-card"> 
                  <div class="preview">
                        <img class="preview-image" src="static/assets/portfolio-page/valley-chevy-preview.PNG" alt="project img">
                        <div class="overlay">
                              <div class="text">See More</div>
                        </div>      
                  </div>
                  <div>     
                        <h3 class="project-name">Valley Chevy</h3>
                        <h4 class="project-skills">Content Strategy, SEO, Editing</h4>  
                  </div>
            </div> 
            </a>          
      </div>
      <div class="project">
            <a href="/godaddy-split-test">
            <div class="project-card"> 
                  <div class="preview">
                        <img class="preview-image" src="static/assets/portfolio-page/godaddy-sales-project-preview.PNG" alt="project img">
                        <div class="overlay">
                              <div class="text">See More</div>
                        </div>
                  </div>      
                  <div>      
                        <h3 class="project-name">GoDaddy</h3>
                        <h4 class="project-skills">Content Editing, User Testing</h4>     
                  </div>      
            </div>
            </a> 
      </div>      
      <div class="project">
            <a href="/empathy-mapping">
            <div class="project-card"> 
                  <div class="preview">
                        <img class="preview-image" src="static/assets/portfolio-page/empathy-mapping-workshop-preview2.PNG" alt="project img">
                        <div class="overlay">
                              <div class="text">See More</div>
                        </div>
                  </div>      
                  <div>      
                        <h3 class="project-name">Design Thinking Workshop</h3>
                        <h4 class="project-skills">Personas, Empathy Mapping</h4>     
                  </div>      
            </div>
            </a> 
      </div>  
            <div class="project">
            <a href="/token-creator">
            <div class="project-card"> 
                  <div class="preview">
                        <img class="preview-image" src="static/assets/portfolio-page/token-creator-preview3.PNG" alt="project img">
                        <div class="overlay">
                              <div class="text">See More</div>
                        </div>
                  </div>      
                  <div>      
                        <h3 class="project-name">GoDaddy</h3>
                        <h4 class="project-skills">Python, Back-End Development</h4>     
                  </div>      
            </div>
            </a> 
      </div>  
</section> 
<section class="banner">
    <h1 class="banner-text">Want to see my full work history?</h1>
    <a href="/resume"><button>View My Resume</button></a> 
</section>  
{% endblock %}