{% extends "index.html" %}
{% block title %}Recruiting.com Traffic and Leads{% endblock %}
{% block content %} 
<section class="hero">
    <div class="hero-inner">
        <div>
            <header>
                <h1 class="page-header">Driving Qualified Leads for Recruiting.com</h1>
            </header>
        </div>
    </div>    
</section>
<section class="col-section"> 
    <div class="flex-grid">
        <div class="col-centered">
            <div class="column-content-block"> 
                <h3>The Project</h3>
                <p style="margin-bottom:0px;">I worked with UX designers and marketing specialists to create and execute a web content strategy for Recruiting.com.</p>
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block"> 
                <h3>Purpose</h3>
                <p style="margin-bottom:0px;">Our content strategy significantly increased organic traffic and form fill completions on Recruiting.com.</p>
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block"> 
                <h3>My Role</h3>
                <p style="margin-bottom:0px;">Market research, web content strategy, copywriting, inbound marketing, SEO, lead generation, website editing</p>
            </div>    
        </div>
</section>
<section class="col-section-padding" style="background-color:#FFFFFF">
    <div class="row-content-container">
        <h2>My Process</h2>
    </div>    
    <div class="row-image-container">
            <img src="static/assets/recruiting.com-content-strategy/my-process-v2.PNG">
    </div>
</section>
<section class="col-section-padding">
    <div class="row-content-container"> 
        <div class="column-block-30px">   
            <h2 style="margin-bottom:0px">Key Research Findings</h2>
        </div>
    </div>
    <div class="flex-grid">
        <div class="col-centered"> 
            <div class="column-content-block">
                <img class="img-border-shadow img-cover-wide" src="static/assets/recruiting.com-content-strategy/recruiting-challenges.PNG" style="object-position: 50% 0;">
                <p class="column-img-subtitle">Recruiters face many different and specific recruitment challenges, but four are more common than others.</p>
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block">
                <img class="img-border-shadow img-cover-wide" src="static/assets/recruiting.com-content-strategy/google-analytics.PNG">
                <p class="column-img-subtitle">Recruiting.com's website traffic and lead conversions have been slowly declining over the past two months.</p>
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block">
                <img class="img-border-shadow img-cover-wide" src="static/assets/recruiting.com-content-strategy/vague-content.PNG">
                <p class="column-img-subtitle">The Recruiting.com site doesn't feature personalized content, clear solutions, or various places to convert.</p>
            </div>
        </div>
    </div>    
</section>
<section class="col-section-padding" style="background-color:#FFFFFF;">  
    <div class="column-50">
        <div class="column-content" style="padding-bottom:0px;">
          <h2>The Content Strategy</h2>
            <p><b>Step 1:</b> Create a landing page for each major recruiting challenge that our customers face. Each page should explain how Recruiting.com can solve the challenge and encourage visitors to fill out a form to learn more.</p> 
            <p><b>Step 2:</b> Update the Recruiting.com homepage to better engage new website visitors and guide them to the landing page that will resonate best with them.</p>
            <p style="margin-bottom:0px"><b>Step 3:</b> Create personalized blog posts, client case studies, Slideshares, and whitepapers that can help increase qualified traffic to the site. Naturally incorporate links to the new landing pages.</p>
        </div>
    </div>
    <div class="column-50">
        <div class="column-image-container">
            <img src="static/assets/recruiting.com-content-strategy/blue-hub-spoke.PNG">
        </div>
    </div>
</section>
<section class="col-section-padding" style="padding-bottom:30px;">
    <div class="row-content-container">
        <div class="column-block-20px">
            <h2>Step 1: Create the Landing Pages</h2>  
        </div> 
    </div>  
    <div class="row-image-container" style="padding-bottom:0px;">
        <img src="static/assets/recruiting.com-content-strategy/final-product.PNG" style="max-height:700px;padding-bottom:0px;">
    </div>
    <div class="row-content-container">
        <a href="https://www.recruiting.com/poor-candidate-quality/" target="_blank" style="display:block;padding-top:10px;">Click here to see the page.</a>
    </div>    
</section>    
<section class="col-section-padding" style="padding-top:10px">
    <div class="row-content-container">
        <div class="column-block-20px">    
            <p>Once we finished building the first landing page above, we repurposed the page layout for the other three pages:</p>
        </div>
    </div>
    <div class="flex-grid">
        <div class="col-centered"> 
            <div class="column-img-block">
                <img class="img-border-shadow img-fill-page" src="static/assets/recruiting.com-content-strategy/landing-page1.PNG">
            </div>
        </div>
        <div class="col-centered">
            <div class="column-img-block">
                <img class="img-border-shadow img-fill-page" src="static/assets/recruiting.com-content-strategy/landing-page2.PNG">
            </div>
        </div>
        <div class="col-centered">
            <div class="column-img-block">
                <img class="img-border-shadow img-fill-page" src="static/assets/recruiting.com-content-strategy/landing-page3.PNG">
            </div>
        </div>
</section>
<section class="col-section-padding" style="background-color:#FFFFFF;">
    <div class="row-content-container">
        <div class="column-block-20px">
            <h2>Step 2: Optimize the Homepage</h2>  
            <p>Next, I edited to the homepage marquee copy to make it more engaging, informative and solution-focused. I also updated the marquee imagery and layout to feature a Recruiting.com career site so that new visitors could better understand and see the product we offer.
        </div>
    </div>    
    <div class="column-50-image">
        <h3 style="text-align:center;">Before</h3>  
        <div class="column-image-container" style="padding-top:0px;padding-bottom:30px">
            <img class="img-border-shadow" src="static/assets/recruiting.com-content-strategy/before.PNG">
        </div>
    </div>
    <div class="column-50-image">
        <h3 style="text-align:center;">After</h3> 
        <div class="column-image-container" style="padding-top:0px;padding-bottom:30px"> 
            <img class="img-border-shadow" src="static/assets/recruiting.com-content-strategy/after3.PNG">
        </div>
    </div>
    <div class="row-content-container">
        <div class="column-block-20px" style="padding-top:10px;"> 
            <p style="margin-bottom:0px">Most importantly, I created a new section right below the marquee that encourages users to segment themselves. After they click on their biggest challenge, they are directed to the landing page that offers a clear solution to their problem.</p>
        </div>
    </div>
    <div class="row-image-container">
        <img class="img-border-shadow" src="static/assets/recruiting.com-content-strategy/segment-users2.PNG" style="max-height:400px">
    </div>
</section>
<section class="col-section-padding" style="background-color:#F1F1F1;">  
    <div class="row-content-container">
        <div class="column-block-20px">
            <h2>Step 3: Drive Traffic With New Content</h2>
            <p>After we published the landing pages and homepage updates, I started creating personalized, SEO-optimized content on a weekly basis. Each piece targets a specific industry or type of recruiter that would benefit most from our solutions. I incorporated links to the landing pages and other relevant articles to keep visitors on the website longer and guide them to the landing pages.  
        </div>
    </div>
    <div class="column-50-image">
        <h3 style="text-align:center;">Blog Example</h3>
        <div class="scroll-view" style="margin-bottom:0px">
            <img src="static/assets/recruiting.com-content-strategy/teacher-blog.PNG" alt="blog-example" style="max-height:3200px;"></a>
        </div>
        <a href="https://www.recruiting.com/blog/" target="_blank" class="mobile-bottom-padding" style="display:block;text-align:center;padding-top:10px;">See all blog posts here.</a>    
    </div>
    <div class="column-50-image">
        <h3 style="text-align:center;">Case Study Example</h3>
        <div class="scroll-view" style="margin-bottom:0px">
            <img src="static/assets/recruiting.com-content-strategy/roig-case-study.PNG" alt="case-study-example" style="max-height:3200px;"></a>
        </div>
        <a href="https://www.recruiting.com/case-study/" target="_blank" class="mobile-bottom-padding" style="display:block;text-align:center;padding-top:10px;">See all case studies here.</a>
    </div>
    <div class="column-50 d-none d-lg-block">        
        <h3 style="text-align:center;padding-top:50px;">SlideShare Example</h3>
        <div class="scroll-view;" style="padding-bottom:0px">
            <iframe src="//www.slideshare.net/slideshow/embed_code/key/NELemFshcHLxXc" class="slideshare"></iframe>
        </div> 
        <div>
            <a href="//www.slideshare.net/Recruiting-com/selling-your-government-jobs-to-tech-candidates" 
                title="Selling your Government Jobs to Tech Candidates" target="_blank"></a> 
            <a href="https://www.slideshare.net/Recruiting-com" target="_blank" style="text-align:center;display:block;padding:10px 0px 0px;">See all SlideShares here.</a>
        </div>
    </div>           
    <div class="column-50 d-none d-lg-block">
        <h3 style="text-align:center;padding-top:50px;">Whitepaper Example</h3>
        <object data="https://www.recruiting.com/downloads/2018/Healthcare-Whitepaper_2018updates.pdf" type="application/pdf" class="scroll-view"></object>
        <a href="https://www.recruiting.com/downloads/2018/Healthcare-Whitepaper_2018updates.pdf" target="_blank" style="display:block;text-align:center;padding:10px 0px 0px;">See full PDF here.</a>
    </div>
</section>    
<section class="col-section-padding" style="background-color:#FFFFFF">
    <div class="row-content-container">
        <div class="column-text-block">    
            <h2>The Results</h2>
            <p style="margin-bottom:0px">One month after publishing the landing pages, homepage updates, and 20 new content pieces, we analyzed our KPIs.</p>
        </div>
    </div>    
<div class="flex-grid">
    <div class="col-centered"> 
        <h3 class="stat">53%</h3>
        <p class="stat-text">increase in organic traffic</p>
        <div class="column-block-30px">
            <img class="img-border-shadow img-fill" src="static/assets/recruiting.com-content-strategy/traffic-increase.PNG">
        </div>
    </div>
    <div class="col-centered">
        <h3 class="stat">23%</h3>
        <p class="stat-text">of LP visitors filled out a form</p>
        <div class="column-block-30px">
            <img class="img-border-shadow img-fill" src="static/assets/recruiting.com-content-strategy/form-fill.PNG">
        </div>
    </div>
    <div class="col-centered">
        <h3 class="stat">45%</h3>
        <p class="stat-text">increase in leads in 30 days</p>
        <div class="column-block-30px">
            <img class="img-border-shadow img-fill" src="static/assets/recruiting.com-content-strategy/lead-form.PNG">
        </div>
    </div>
</div>
    <div class="row-content-container">   
        <div class="column-content-block"> 
            <p style="margin-bottom:0px;">The data verified that our new content was effectively engaging and converting more website visitors. As a bonus, it also revealed that "Poor candidate quality" received the most homepage clicks and the most landing page views — making it the most popular problem among our website visitors. To capitalize on this insight, I incorporated more content pieces relating to this challenge into our next content strategy. </p>
        </div>
    </div>     
</section>
<section class="banner">
    <h1 class="banner-text">Want to see more projects?</h1>
    <a href="/portfolio"><button>View My Portfolio</button></a> 
</section>     
{% endblock %}       
