{% extends "index.html" %}
{% block title %}Resume{% endblock %}
{% block content %} 
<div class="hero">
    <div class="hero-inner">
        <div>
            <header>
            <h1 class="page-header">My Resume</h1>
            </header>
        </div>
    </div>    
</div>
<section class="col-section-padding" style="background-color:#FFFFFF;align-items:normal;">  
    <div class="column-60" style="text-align:left">
        <div class="-mobile-padding" style="padding-bottom:0px">
            <h2 class="resume-section-header">Professional Experience</h2>
            <br>
            <h3 class="resume-company-text">GoDaddy</h3>
            <h4 class="resume-job-title">Marketing Operations Technologist | Apr. 2018 - Present</h4>
            <div>
                <ul class="ul-bullets">
                        <li>Responsible for maintaining and optimizing 25+ international GoDaddy.com webpages</li>
                        <li>Collaborated with Product Owners, UX Specialists, Copywriters to implement 50+ user tests</li>
                        <li>Built/rebuilt 40+ fully responsive webpages in GoDaddy's CMS (Sitecore)</li>
                        <li>Used advanced problem-solving and technical skills to resolve bugs and build new content</li>
                        <li>Executed our team's monthly KPI reporting and helped revamp our reporting process</li>
                </ul>    
            </div>
            <br>
            <br>
            <h3 class="resume-company-text">V Digital Services</h3>
            <h4 class="resume-job-title" style="margin-bottom:.5rem">Senior Content Strategist | Nov. 2017 - Apr. 2018</h4>
            <h4 class="resume-job-title">Content Strategist | Dec. 2018 - Apr. 2018</h4>
            <div>
                <ul class="ul-bullets">
                    <li>Managed a portfolio of 40+ clients in various B2B and B2C industries </li>
                    <li>Interviewed clients to understand their goals, pain points, customers, brand, etc. </li>
                    <li>Conducted 100+ website & competitor audits to identify website content gaps </li>
                    <li>Presented content audits, strategies and KPIs to key stakeholders </li>
                    <li>Created and managed the execution of 300+ digital content strategies </li> 
                    <li>Edited 100+ pieces of content every month for grammar, flow, SEO, and engagement </li> 
                    <li>Developed the Content Department’s first formal training materials & procedures </li>
                    <li>Trained and mentored 10+ freelancers and 3 content strategists </li>
                    <li>Developed, tested and presented 5 new visual content products for our clients </li>
                </ul>    
            </div>
            <br>
            <br>
            <h3 class="resume-company-text">Family 2.0</h3>
            <h4 class="resume-job-title">Ghostwriter | June 2016 - Dec. 2016</h4>
            <div>
                <ul class="ul-bullets">
                    <li>Wrote a 300+ page manuscript for StringCan Interactive’s CEO</li>
                    <li>Created a book outline and chapter outlines for effective storytelling</li>
                    <li>Regularly interviewed the CEO to gather facts for each chapter</li>
                    <li>Edited each chapter for grammar, syntax, voice and flow</li>
                </ul>    
            </div>
            <br>
            <br>
            <h3 class="resume-company-text">Recruiting.com</h3>
            <h4 class="resume-job-title" style="margin-bottom:.5rem">Client Success Coordinator | Sept. 2016 - Dec. 2016</h4>
            <h4 class="resume-job-title">Content Marketing Specialist | Oct. 2015 - Oct. 2016</h4>
            <div>
                <ul class="ul-bullets">
                    <li>Analyzed Recruiting.com's KPIs, user behavior and competitors to identify content gaps</li>
                    <li>Wrote and edited strategic B2B webpages, blogs, and whitepapers</li>
                    <li>Created 10+ data-driven case studies to showcase our clients’ success stories</li> 
                    <li>Developed and executed email marketing campaigns; increased leads by 22% in one year </li>
                    <li>Wrote, edited and designed 40+ Recruiting.com CRM product help guides for new clients </li>
                    <li>Interviewed clients to understand their brands, recruiting pain points, and unique offerings</li>
                    <li>Worked with web designers to create 20+ sitemaps, wireframes and career sites for clients</li>
                </ul>    
            </div>
            <br>
            <br>
            <h3 class="resume-company-text">StringCan Interactive</h3>
            <h4 class="resume-job-title">Content Producer & Editor | Dec. 2014 - Oct. 2015</h4>
            <div>
                <ul class="ul-bullets">
                    <li>Created monthly reports for 20+ clients to monitor KPIs and identify new opportunities</li>
                    <li>Developed and executed strategic content marketing editorial calendars for clients</li>
                    <li>Wrote and edited SEO-optimized webpages, blogs, articles, social posts, etc.</li>
                    <li>Helped develop personas, customer journey maps and digital marketing strategies</li>
                    <li>Edited digital marketing strategy presentations for grammar, syntax, flow, etc.</li>
                </ul>    
            </div>    
            <br>
            <hr>
            <br>
            <h2 class="resume-section-header">Internships</h2>
            <h3 class="resume-company-text">StringCan Interactive</h3>
            <h4 class="resume-job-title">Copywriter | Aug. 2014 - Dec. 2014</h4>
            <br>
            <h3 class="resume-company-text">ABC15</h3>
            <h4 class="resume-job-title">Web Content Producer | Aug. 2014 - Dec. 2014</h4>
            <br>
            <h3 class="resume-company-text">MarketingWorx PR</h3>
            <h4 class="resume-job-title">Content Marketer | Jan. 2014 - Aug. 2014</h4>
            <br>
            <hr>
            <br>
            <h2 class="resume-section-header">Education</h2>
            <h3 class="resume-company-text">Arizona State University</h3>
            <h4 class="resume-job-title">Bachelor's Degree in Journalism & Mass Communication (3.9 GPA)</h4>
            <br>
            <h3 class="resume-company-text">Rapport Leadership International</h3>
            <h4 class="resume-job-title">Leadership Breakthrough 1 & 2 Graduate</h4> 
            <br>
            <h3 class="resume-company-text">Google Analytics Certification</h3>
            <h4 class="resume-job-title">Attained in 2018</h4>                   
        </div>
    </div>
    <br>
    <p class="d-none d-sm-block"><hr></p>
    <br>
    <div class="column-30" style="margin:0 auto">
        <div class="column-content" style="margin:0">
            <h2 class="resume-section-header">Hard Skills</h2> 
                <br>
                <p class="skill-name">User Research</p>
                <div class="skill-bar">
                <div class="skills user-research">70%</div>
                </div>
                <br>
                <p class="skill-name">User Testing</p>
                <div class="skill-bar">
                <div class="skills user-testing">70%</div>
                </div>
                <br>
                <p class="skill-name">Data Analysis</p>
                <div class="skill-bar">
                <div class="skills data-analysis">60%</div>
                </div>
                <br>
                <p class="skill-name">Web Content Strategy</p>
                <div class="skill-bar">
                <div class="skills content-strategy">90%</div>
                </div>
                <br>
                <p class="skill-name">Copywriting</p>
                <div class="skill-bar">
                <div class="skills copywriting">90%</div>
                </div>
                <br>
                <p class="skill-name">Content Editing</p>
                <div class="skill-bar">
                <div class="skills content-editing">90%</div>
                </div>
                <br>
                <p class="skill-name">SEO</p>
                <div class="skill-bar">
                <div class="skills seo">70%</div>
                </div>
                <br>
                <p class="skill-name">Inbound Content Marketing</p>
                <div class="skill-bar">
                <div class="skills content-marketing">70%</div>
                </div>
                <br>
                <p class="skill-name">Website Editing</p>
                <div class="skill-bar">
                <div class="skills website-editing">60%</div>
                </div>
                <br>
                <p class="skill-name">Troubleshooting & QA</p>
                <div class="skill-bar">
                <div class="skills troubleshooting">60%</div>
                </div>
                <br>
                <p class="skill-name">HTML</p>
                <div class="skill-bar">
                <div class="skills html">70%</div>
                </div>
                <br>
                <p class="skill-name">CSS</p>
                <div class="skill-bar">
                <div class="skills css">70%</div>
                </div>
                <br>
                <p class="skill-name">JavaScript</p>
                <div class="skill-bar">
                <div class="skills js">40%</div>
                </div>
                <br>
                <p class="skill-name">Python</p>
                <div class="skill-bar">
                <div class="skills python">40%</div>
                </div>
                <br>
                <p class="skill-name">SQL</p>
                <div class="skill-bar">
                <div class="skills sql">40%</div>
                </div>
                <br>
                <hr>
                <br>
                <h2 class="resume-section-header"> Soft Skills</h2> 
                <br>
                <ul class="ul-bullets" style="text-align:left">
                    <li>Strategic thinking</li>
                    <li>Critical thinking</li>
                    <li>Learning new tools quickly</li>
                    <li>Written & verbal ommunication</li>
                    <li>Presenting to stakeholders</li>
                    <li>Training and leading others</li>
                    <li>Time management</li>
                    <li>Project management</li>
                    <li>Problem solving</li>
                    <li style="margin-bottom:0px">Passionate and goal driven</li>
                </ul>
                <br>
                <hr>
                <br>
                <h2 class="resume-section-header">Tools</h2>
                <br>   
                <ul class="ul-bullets" style="text-align:left">
                    <li>Google Analytics</li>
                    <li>Google Suite</li>
                    <li>Adobe Suite</li>
                    <li>UserTesting.com</li>
                    <li>Split IO</li>
                    <li>Redpoint</li>
                    <li>WordPress</li>
                    <li>Sitecore</li>
                    <li>HubSpot</li>
                    <li>SEMRush</li>
                    <li>Jira</li>
                    <li>Salesforce</li>
                    <li>VS Code</li>
                    <li style="margin-bottom:0px">SQL Server</li>
                </ul>              
        </div>
    </div>
</section>
<section class="banner">
    <h1 class="banner-text">Want to see my work samples?</h1>
    <a href="/portfolio"><button>View My Portfolio</button></a> 
</section>      
</div>    
{% endblock %}