{% extends "index.html" %}
{% block title %}Valley Chevy Content Strategy{% endblock %}
{% block content %} 
<section class="hero">
    <div class="hero-inner">
        <div>
            <header>
            <h1 class="page-header">Driving Local Traffic & Leads for Valley Chevy</h1>
            </header>
        </div>
    </div>    
</section>
<section class="col-section"> 
    <div class="flex-grid">
        <div class="col-centered">
            <div class="column-content-block"> 
                <h3>The Project</h3>
                <p style="margin-bottom:0px;">I worked with an SEO specialist, web designer and writer to develop and execute an organic web content strategy for Valley Chevy.</p>
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block"> 
                <h3>Purpose</h3>
                <p style="margin-bottom:0px;">Our content strategy increased local and organic traffic, Locate Dealer pageviews, and form completions on ValleyChevy.com.</p>
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block"> 
                <h3>My Role</h3>
                <p style="margin-bottom:0px;">Content strategy, copywriting, local SEO, content editing, inbound content marketing, lead generation, web design</p>
            </div>    
        </div>
</section>
<section class="col-section-padding-stack" style="background-color:#FFFFFF;">  
    <div class="column-50-stack">
        <div class="column-content">
          <h2>Key Research Findings</h2>
            <p>Valley Chevy is a conglomerate of Chevrolet dealerships located only in Arizona, so I wanted to make sure our organic content strategy mainly targeted local car shoppers. To achieve this, I conducted local keyword research to find out what Chevrolet keyword phrases have the highest search volume in Arizona. Here were some of my key findings:</p>
            <ul class="ul-bullets" style="line-height:1.2">
                <li>The Chevrolet search queries with the most search volume are vehicle comparisons, such as “Chevrolet Impala vs. Ford Fusion.”</li>
                <li>The majority of Chevrolet search queries relate to specific car features, such as “chevrolet camaro engine."</li>
                <li>Certain Chevrolet models have more search volume than others, such as the Silverado and Equinox.</li> 
            </ul>
            <p>The SEO specialist helped me analyze how Valley Chevy currently ranked for these keywords in SERPs. Because the site featured no content relating to these popular keywords, Valley Chevy did not rank competitively for any of them.</p>
            <p style="margin-bottom:0px">During my content audit, I also noticed ValleyChevy.com didn't have any helpful resources for local car owners, which revealed another major content gap and opportunity.</p>
        </div>
    </div>
    <div class="column-50-stack-image">
        <div class="column-image-container-stack">
            <img src="static/assets/valley-chevy/keyword-research.PNG" class="img-border-shadow" style="margin:0;">
        </div>
    </div>
</section>
<section class="col-section-padding-reverse-stack" style="background-color:#F1F1F1;">  
    <div class="column-50-stack-image">
        <div class="column-image-container-stack">
            <img src="static/assets/valley-chevy/content-calendar.PNG" class="img-border-shadow" style="margin:0;">
        </div>
    </div>
    <div class="column-50-stack">
        <div class="column-content">
            <h2>The Content Strategy</h2>
            <p>Once we were done with our analysis, I brainstormed and outlined the key steps of our content strategy:</p>
            <div>
                <p><b>Step 1:</b> Create landing pages that help visitors compare each Chevrolet model to its main competitiors. Naturally incorporate longtail keywords and Locate Dealer CTAs throughout the pages.</p>
                <p><b>Step 2:</b> Create articles that target popular keywords about each Chevrolet car model to help Valley Chevy rank higher in Chevrolet-related SERPs. Naturally include links to the car model's landing pages.</p> 
                <p><b>Step 3:</b> Create articles that appeal to Arizona car owners and incorporate strategic keywords to increase local traffic and engagement. Incorporate links to any relevant landing pages.</p>
                <p><b>Step 4:</b> Create visual content (e.g. infographics, videos, quizzes) and share it on social media to increase local traffic and visitor engagement.</p>     
            </div>
            <p style="margin-bottom:0px">I also created a content calendar that outlines each piece of content I planned to create for the next month. I chose to focus on the Chevy Equinox first because this model 
            had the second highest search volume and the least amount of sales at Valley Chevy dealerships.</p>
        </div>
    </div>
</section>
<section class="col-section-padding" style="background-color:#FFFFFF;">  
    <div class="row-content-container">
        <div class="column-block-20px">
            <h2>Step 1: Create The Landing Pages</h2>
            <p>The first Chevrolet Equinox landing page we created features a chart that compares the model to its main competitors. The Competitive Advantage button in the top left of the chart links to the second landing page we created, which highlights the advantages the Equinox has over its top competitor. Both pages incorporate Locate Dealer CTAS to help guide and convert visitors. <br class="break"><br class="break"> My role was to compose the writer instructions for the pages and edit all copy for grammar, syntax, accuracy and SEO. I also provided feedback on the page design and layout.</p>
        </div>
    </div>  
    <div class="column-50-image">
        <h3 style="text-align:center;">Chevy Equinox <br class="break-1024"> Compare Page</h3>
        <div class="scroll-view-tall">
            <img src="static\assets\valley-chevy\compare-page.PNG" alt="compare page" style="max-height:3200px;"></a>
        </div>    
    </div>
    <div class="column-50-image">
        <h3 style="text-align:center;">Chevy Equinox <br class="break-1024"> Competitive Advantage Page</h3>
        <div class="scroll-view-tall">
            <img src="static\assets\valley-chevy\chevy-equinox-advantage-page.PNG" alt="advantage page" style="max-height:3200px;"></a>
        </div>
    </div>
</section>
<section class="col-section-padding" style="background-color:#F1F1F1;">  
    <div class="row-content-container">
        <div class="column-block-30px">
            <h2 style="margin-bottom:0px">Steps 2 & 3: Create Supporting Content</h2>
        </div>
    </div>    
    <div class="row-content-container">
        <div class="column-block-20px">
            <h3>Model-Specific Articles</h3>
            <p>Each of the Equinox articles I chose were based on a phrase that receives a high amount of search volume in Arizona (i.e. "chevy equinox interior").   
            I provided our writer with instructions on what keywords and details to include in each article, and then I edited and optimized his copy further.</p>   
        </div>
    </div>
    <div class="flex-grid">
        <div class="column-img-block">
        <a href="https://www.valleychevy.com/2017-chevrolet-equinox-exterior-features/" target="_blank"><img class="img-border" src="static/assets/valley-chevy/equinox-exterior.PNG"></a>
        </div>
        <div class="column-img-block">
        <a href="https://www.valleychevy.com/2017-chevrolet-equinox-interior-features/" target="_blank"><img class="img-border" src="static/assets/valley-chevy/equinox-interior.PNG"></a>
        </div>
        <div class="column-img-block" style="padding-bottom:0px">
        <a href="https://www.valleychevy.com/2017-chevrolet-equinox-mpg-annual-fuel-cost/" target="_blank"><img class="img-border" src="static/assets/valley-chevy/equinox-mpg.PNG"></a> 
        </div>
    </div>    
    <div class="row-content-container">
        <div class="column-block-20px">
            <h3 style="padding-top:40px;">Arizona-Specific Articles</h3>
            <p>I used the same process to select five local article topics (e.g. targeting popular keywords like "best tires for Arizona car"). For each piece, I instructed our writer to include specific local keywords that would help Valley Chevy rank higher in local SERPs and attain more qualified traffic. </p>
        </div>   
    </div>
    <div class="flex-grid">
        <div class="column-img-block">
        <a href="https://www.valleychevy.com/top-15-off-roading-trails-near-phoenix/" target="_blank"><img class="img-border" src="static/assets/valley-chevy/trails-phoenix.PNG"></a>
        </div>
        <div class="column-img-block">
        <a href="https://www.valleychevy.com/national-parks-near-phoenix/" target="_blank"><img class="img-border" src="static/assets/valley-chevy/national-parks.PNG"></a>
        </div>
        <div class="column-img-block">
        <a href="https://www.valleychevy.com/what-are-the-best-tires-for-arizona/" target="_blank"><img class="img-border" src="static/assets/valley-chevy/best-tires.PNG"></a> 
        </div>
</section>    
<section class="col-section-padding" style="background-color:#FFFFFF;">  
    <div class="row-content-container">
        <div class="column-text-block" style="padding-bottom:0px">
        <h2>Step 4: Create Visually Engaging Content </h2>
            <p style="margin-bottom:0px">With the remainder of Valley Chevy's monthly content budget, I worked with our writer and graphic designer to produce unique visual content. We posted this content on Valley Chevy's social media channels to increase local brand awareness, as well as in relevant articles to increase engagement.</p>
        </div>
    </div>    
    <div class="column-50-image">
        <h3 style="text-align:center;padding-top:30px;">2017 Chevy Equinox Infographic</h3>
        <div style="max-width:400px;text-align:center;margin:auto" class="scroll-view-tall">
            <img src="static\assets\valley-chevy\chevy-equinox-infographic.jpg" alt="" style="max-height:3200px;"></a>
        </div>    
    </div>
    <div class="column-50-image" style="padding-bottom:30px">
        <h3 style="text-align:center;padding-top:30px;">2017 Chevy Models Video</h3>
        <iframe class="video-block" src="https://player.vimeo.com/video/443884148" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
</section>
<section class="col-section-padding" style="background-color:#F1F1F1;">
    <div class="row-content-container">
        <div class="column-text-block">
            <h2>Results</h2>
            <p style="margin-bottom:0px">Starting in March 2017, we produced the above content for ValleyChevy.com on a monthly basis — focusing on a different Chevrolet model each month. We monitored our KPIs in Google Analytics and SEMRush weekly to ensure our data was trending in a positive direction. Five months later, we compared the new numbers to our original data.
        </div>
    </div>    
    <div class="column-50-image" style="text-align:center;padding-bottom:30px">
        <h2 class="stat">32%</h2>
        <p>increase in keyword positions</p>  
        <div>
            <img src="static/assets/valley-chevy/keywords-no-pos.PNG" class="img-border-shadow" style="width:100%;object-fit:fill">
        </div>
    </div>
    <div class="column-50-image" style="text-align:center;padding-bottom:30px">
        <h2 class="stat">28%</h2>
        <p>increase in Arizona traffic</p> 
        <div>
            <img src="static/assets/valley-chevy/arizona-traffic.PNG" class="img-border-shadow" style="width:100%;object-fit:fill">
        </div>
    </div>  
    <div class="flex-grid">
        <div class="col-centered"> 
            <div class="column-content-block-left">
                <h3 class="stat">14%</h3>
                <p>decrease in organic bounce rate</p>
                <img class="img-border-shadow responsive-column-img" style="object-position:0 0;" src="static/assets/valley-chevy/organic-traffic.PNG">
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block" style="width:90%">
                <h3 class="stat">32%</h3>
                <p>increase in Locate Dealer clicks</p>
                <img class="img-border-shadow responsive-column-img" src="static/assets/valley-chevy/locate-dealer.PNG">
            </div>
        </div>
        <div class="col-centered">
            <div class="column-content-block-right">
                <h3 class="stat">137%</h3>
                <p>increase in form fill completions</p>
                <img class="img-border-shadow responsive-column-img" src="static/assets/valley-chevy/form-fill.PNG" style="object-position: 0 0;">
            </div>
        </div>
    </div>
        <div class="row-content-container"> 
            <div class="column-content-block">   
                <p style="margin: 30px auto 0px auto">Because our results were so positive, we continued to execute this content strategy every month until we produced content for every Chevrolet model. Most of this content is still live on the site today, and it is helping Valley Chevy collect new leads on a regular basis.</p>
            </div>   
        </div>      
</section>
<section class="banner">
    <h1 class="banner-text">Want to see more projects?</h1>
    <a href="/portfolio"><button>View My Portfolio</button></a> 
</section> 
{% endblock %}